<mat-card class="main-card">
  <mat-card-title>Topics</mat-card-title>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-nav-list>
      <a mat-list-item href="topics/{{ topic.id }}" *ngFor="let topic of topics | async"> {{topic | json}} </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
