/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import './app/components/navbar/navbar-theme';

@include mat-core();
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include nav-bar-theme($theme);

html, body {
  min-height: 100%;
  height: 100%;
}

body, body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main-card {
  width: 100%;
}
